In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("scp_statements.csv")
df.columns = ['sigla', 'description', 'diagnostic', 'form', 'rhythm',
       'diagnostic_class', 'diagnostic_subclass', 'Statement Category',
       'SCP-ECG Statement Description', 'AHA code', 'aECG REFID', 'CDISC Code',
       'DICOM Code']

In [5]:
df['diagnostic_class'].unique()

array(['STTC', 'NORM', 'MI', 'HYP', 'CD', nan], dtype=object)

In [6]:
# Normal
df_NORM = df[df['diagnostic_class']=='NORM']
print(df_NORM.shape[0])
df_NORM

1

,sigla,description,diagnostic,form,rhythm,diagnostic_class,diagnostic_subclass,Statement Category,SCP-ECG Statement Description,AHA code,aECG REFID,CDISC Code,DICOM Code
4,NORM,normal ECG,1.0,NaN,NaN,NORM,NORM,Normal/abnormal,normal ECG,1.0,NaN,NaN,F-000B7

In [7]:
# STTC -> Cambios en el ST/T
df_STTC = df[df['diagnostic_class']=='STTC']
print(df_STTC.shape[0])
df_STTC

13

,sigla,description,diagnostic,form,rhythm,diagnostic_class,diagnostic_subclass,Statement Category,SCP-ECG Statement Description,AHA code,aECG REFID,CDISC Code,DICOM Code
0,NDT,non-diagnostic T abnormalities,1.0,1.0,NaN,STTC,STTC,other ST-T descriptive statements,non-diagnostic T abnormalities,NaN,NaN,NaN,NaN
1,NST_,non-specific ST changes,1.0,1.0,NaN,STTC,NST_,Basic roots for coding ST-T changes and abnorm...,non-specific ST changes,145.0,MDC_ECG_RHY_STHILOST,NaN,NaN
2,DIG,digitalis-effect,1.0,1.0,NaN,STTC,STTC,other ST-T descriptive statements,suggests digitalis-effect,205.0,NaN,NaN,NaN
3,LNGQT,long QT-interval,1.0,1.0,NaN,STTC,STTC,other ST-T descriptive statements,long QT-interval,148.0,NaN,NaN,NaN
9,ISC_,non-specific ischemic,1.0,NaN,NaN,STTC,ISC_,Basic roots for coding ST-T changes and abnorm...,ischemic ST-T changes,226.0,NaN,NaN,NaN
13,ISCAL,ischemic in anterolateral leads,1.0,NaN,NaN,STTC,ISCA,ischemic ST-T changes,in anterolateral leads,NaN,NaN,NaN,NaN
20,ISCIN,ischemic in inferior leads,1.0,NaN,NaN,STTC,ISCI,ischemic ST-T changes,in inferior leads,NaN,NaN,NaN,NaN
23,ISCIL,ischemic in inferolateral leads,1.0,NaN,NaN,STTC,ISCI,ischemic ST-T changes,in inferolateral leads,NaN,NaN,NaN,NaN
25,ISCAS,ischemic in anteroseptal leads,1.0,NaN,NaN,STTC,ISCA,ischemic ST-T changes,in anteroseptal leads,NaN,NaN,NaN,NaN
27,ISCLA,ischemic in lateral leads,1.0,NaN,NaN,STTC,ISCA,ischemic ST-T changes,in lateral leads,NaN,NaN,NaN,NaN
29,ANEUR,ST-T changes compatible with ventricular aneurysm,1.0,NaN,NaN,STTC,STTC,other ST-T descriptive statements,ST-T changes compatible with ventricular aneurysm,227.0,NaN,NaN,NaN
31,EL,electrolytic disturbance or drug (former EDIS),1.0,NaN,NaN,STTC,STTC,physiopathological nature of ST-T changes,compatible with electrolyte abnormalities,NaN,NaN,NaN,NaN
35,ISCAN,ischemic in anterior leads,1.0,NaN,NaN,STTC,ISCA,ischemic ST-T changes,in anterior leads,NaN,NaN,NaN,NaN

In [8]:
# MI -> Myocardial Infartion
df_MI = df[df['diagnostic_class']=='MI']
print(df_MI.shape[0])
df_MI

14

,sigla,description,diagnostic,form,rhythm,diagnostic_class,diagnostic_subclass,Statement Category,SCP-ECG Statement Description,AHA code,aECG REFID,CDISC Code,DICOM Code
5,IMI,inferior myocardial infarction,1.0,NaN,NaN,MI,IMI,Myocardial Infarction,inferior myocardial infarction,161.0,NaN,NaN,NaN
6,ASMI,anteroseptal myocardial infarction,1.0,NaN,NaN,MI,AMI,Myocardial Infarction,anteroseptal myocardial infarction,165.0,NaN,NaN,NaN
16,ILMI,inferolateral myocardial infarction,1.0,NaN,NaN,MI,IMI,Myocardial Infarction,inferolateral myocardial infarction,NaN,NaN,NaN,NaN
18,AMI,anterior myocardial infarction,1.0,NaN,NaN,MI,AMI,Myocardial Infarction,anterior myocardial infarction,160.0,NaN,NaN,NaN
19,ALMI,anterolateral myocardial infarction,1.0,NaN,NaN,MI,AMI,Myocardial Infarction,anterolateral myocardial infarction,NaN,NaN,NaN,NaN
21,INJAS,subendocardial injury in anteroseptal leads,1.0,NaN,NaN,MI,AMI,ischemic ST-T changes compatible with subendoc...,in anteroseptal leads,NaN,NaN,NaN,NaN
22,LMI,lateral myocardial infarction,1.0,NaN,NaN,MI,LMI,Myocardial Infarction,lateral myocardial infarction,163.0,NaN,NaN,NaN
26,INJAL,subendocardial injury in anterolateral leads,1.0,NaN,NaN,MI,AMI,ischemic ST-T changes compatible with subendoc...,in anterolateral leads,NaN,NaN,NaN,NaN
34,IPLMI,inferoposterolateral myocardial infarction,1.0,NaN,NaN,MI,IMI,Myocardial Infarction,inferoposterolateral myocardial infarction,NaN,NaN,NaN,NaN
36,IPMI,inferoposterior myocardial infarction,1.0,NaN,NaN,MI,IMI,Myocardial Infarction,inferoposterior myocardial infarction,NaN,NaN,NaN,NaN
38,INJIN,subendocardial injury in inferior leads,1.0,NaN,NaN,MI,IMI,ischemic ST-T changes compatible with subendoc...,in inferior leads,NaN,NaN,NaN,NaN
39,INJLA,subendocardial injury in lateral leads,1.0,NaN,NaN,MI,AMI,ischemic ST-T changes compatible with subendoc...,in lateral leads,NaN,NaN,NaN,NaN
40,PMI,posterior myocardial infarction,1.0,NaN,NaN,MI,PMI,Myocardial Infarction,posterior myocardial infarction,162.0,NaN,NaN,NaN
42,INJIL,subendocardial injury in inferolateral leads,1.0,NaN,NaN,MI,IMI,ischemic ST-T changes compatible with subendoc...,in inferolateral leads,NaN,NaN,NaN,NaN

In [9]:
filter_class = 'STTC'
df_aux = df[df['diagnostic_class']==filter_class]

formateo = df_aux['sigla'].unique()

cat=''
for s in formateo:
    if 'ISC' in s:
        cat+='\''+s+'\''+','

cat[:-1]

"'ISC_','ISCAL','ISCIN','ISCIL','ISCAS','ISCLA','ISCAN'"

# Indica normalidad
* NORM : normal

In [3]:
see = pd.read_csv("y_output_gemini.csv")
see

       NORM   MI  INJ  ISC  ARRY  STTC   CD  HYP
0       1.0  0.0  0.0  0.0   0.0   0.0  0.0  0.0
1       0.8  0.0  0.0  0.0   0.0   0.0  0.0  0.0
2       1.0  0.0  0.0  0.0   0.0   0.0  0.0  0.0
3       1.0  0.0  0.0  0.0   0.0   0.0  0.0  0.0
4       1.0  0.0  0.0  0.0   0.0   0.0  0.0  0.0
...     ...  ...  ...  ...   ...   ...  ...  ...
21832   0.0  0.0  0.0  0.0   0.0   1.0  0.0  0.0
21833   1.0  0.0  0.0  0.0   0.0   0.0  0.0  0.0
21834   0.0  0.0  0.0  0.5   0.0   0.5  0.0  0.0
21835   1.0  0.0  0.0  0.0   0.0   0.0  0.0  0.0
21836   1.0  0.0  0.0  0.0   0.0   0.0  0.0  0.0

[21837 rows x 8 columns]

In [6]:
see[see['ARRY'] >= 0.6]

       NORM    MI  INJ  ISC  ARRY  STTC   CD  HYP
4636    0.0  0.00  0.0  0.0   1.0   0.0  0.0  0.0
5785    0.0  0.00  0.0  0.0   1.0   0.0  0.0  0.0
6344    0.0  0.00  0.0  0.0   1.0   0.0  1.0  0.0
6966    0.0  0.00  0.0  0.0   1.0   0.0  1.0  0.0
7093    0.0  0.00  0.0  0.0   1.0   0.0  1.0  0.0
8871    0.0  0.00  0.0  0.0   1.0   0.0  0.0  0.0
10354   0.0  0.00  0.0  0.0   1.0   0.0  0.0  0.0
12643   0.0  0.00  0.0  0.0   1.0   0.0  0.0  0.0
13431   0.0  1.00  0.0  0.0   1.0   0.0  0.0  0.0
16360   0.0  0.00  0.0  0.0   1.0   0.0  0.0  0.0
16834   0.0  0.00  0.0  0.0   1.0   0.0  0.0  0.0
17407   0.0  0.15  0.0  0.0   1.0   0.0  0.0  0.0
17449   0.0  0.00  0.0  0.0   1.0   1.0  0.0  0.0
17465   0.0  1.00  0.0  0.0   1.0   0.0  1.0  0.0
18782   0.0  1.00  0.0  0.0   1.0   0.0  0.0  0.0
19931   0.0  1.00  0.0  0.0   1.0   0.0  0.0  0.0
20630   0.0  0.00  0.0  0.0   1.0   0.0  0.0  0.0
20663   0.0  0.00  0.0  1.0   1.0   1.0  0.0  0.0
20815   0.0  1.00  0.0  0.0   1.0   0.0  1.0  0.0
20971   0.0  0.00  0.0  1.0   1.0   1.0  0.0  0.0
21322   0.0  0.00  0.0  0.0   1.0   0.0  0.0  0.0
21383   0.0  0.00  0.0  0.0   1.0   0.0  0.0  0.0
21578   0.0  0.00  0.0  1.0   1.0   1.0  0.0  1.0

In [15]:
gt = pd.read_csv('ptbxl_database.csv')
gt[['ecg_id', 'scp_codes']]

       ecg_id                                          scp_codes
0           1           {'NORM': 100.0, 'LVOLT': 0.0, 'SR': 0.0}
1           2                       {'NORM': 80.0, 'SBRAD': 0.0}
2           3                         {'NORM': 100.0, 'SR': 0.0}
3           4                         {'NORM': 100.0, 'SR': 0.0}
4           5                         {'NORM': 100.0, 'SR': 0.0}
...       ...                                                ...
21832   21833  {'NDT': 100.0, 'PVC': 100.0, 'VCLVH': 0.0, 'ST...
21833   21834           {'NORM': 100.0, 'ABQRS': 0.0, 'SR': 0.0}
21834   21835                         {'ISCAS': 50.0, 'SR': 0.0}
21835   21836                         {'NORM': 100.0, 'SR': 0.0}
21836   21837                         {'NORM': 100.0, 'SR': 0.0}

[21837 rows x 2 columns]

In [17]:
see['ecg_id'] = gt['ecg_id']
see

       NORM   MI  INJ  ISC  ARRY  STTC   CD  HYP  ecg_id
0       1.0  0.0  0.0  0.0   0.0   0.0  0.0  0.0       1
1       0.8  0.0  0.0  0.0   0.0   0.0  0.0  0.0       2
2       1.0  0.0  0.0  0.0   0.0   0.0  0.0  0.0       3
3       1.0  0.0  0.0  0.0   0.0   0.0  0.0  0.0       4
4       1.0  0.0  0.0  0.0   0.0   0.0  0.0  0.0       5
...     ...  ...  ...  ...   ...   ...  ...  ...     ...
21832   0.0  0.0  0.0  0.0   0.0   1.0  0.0  0.0   21833
21833   1.0  0.0  0.0  0.0   0.0   0.0  0.0  0.0   21834
21834   0.0  0.0  0.0  0.5   0.0   0.5  0.0  0.0   21835
21835   1.0  0.0  0.0  0.0   0.0   0.0  0.0  0.0   21836
21836   1.0  0.0  0.0  0.0   0.0   0.0  0.0  0.0   21837

[21837 rows x 9 columns]

In [20]:
print(see[see['NORM']==1].shape)
see[see['NORM']==1]

(7185, 9)

       NORM   MI  INJ  ISC  ARRY  STTC   CD  HYP  ecg_id
0       1.0  0.0  0.0  0.0   0.0   0.0  0.0  0.0       1
2       1.0  0.0  0.0  0.0   0.0   0.0  0.0  0.0       3
3       1.0  0.0  0.0  0.0   0.0   0.0  0.0  0.0       4
4       1.0  0.0  0.0  0.0   0.0   0.0  0.0  0.0       5
5       1.0  0.0  0.0  0.0   0.0   0.0  0.0  0.0       6
...     ...  ...  ...  ...   ...   ...  ...  ...     ...
21824   1.0  0.0  0.0  0.0   0.0   0.0  0.0  0.0   21825
21830   1.0  0.0  0.0  0.0   0.0   0.0  0.0  0.0   21831
21833   1.0  0.0  0.0  0.0   0.0   0.0  0.0  0.0   21834
21835   1.0  0.0  0.0  0.0   0.0   0.0  0.0  0.0   21836
21836   1.0  0.0  0.0  0.0   0.0   0.0  0.0  0.0   21837

[7185 rows x 9 columns]

In [21]:
print(see[see['MI']==1].shape)
see[see['MI']==1]

(2544, 9)

       NORM   MI  INJ  ISC  ARRY  STTC   CD  HYP  ecg_id
138     0.0  1.0  0.0  0.0   0.0   0.0  0.0  0.0     139
176     0.0  1.0  0.0  0.0   0.0   0.0  0.0  0.0     177
183     0.0  1.0  0.0  0.0   0.0   0.0  0.0  0.0     184
188     0.0  1.0  0.0  0.0   0.0   0.0  0.0  0.0     189
256     0.0  1.0  0.0  0.0   0.0   0.0  0.0  0.0     257
...     ...  ...  ...  ...   ...   ...  ...  ...     ...
21787   0.0  1.0  0.0  0.0   0.0   0.0  0.0  0.0   21788
21792   0.0  1.0  0.0  0.0   0.0   0.0  0.0  0.0   21793
21804   0.0  1.0  0.0  1.0   0.0   1.0  1.0  0.0   21805
21814   0.0  1.0  0.0  0.0   0.0   0.0  1.0  0.0   21815
21826   0.0  1.0  0.0  0.5   0.0   0.5  0.0  0.0   21827

[2544 rows x 9 columns]

In [22]:
print(see[see['INJ']==1].shape)
see[see['INJ']==1]

(301, 9)

       NORM    MI  INJ  ISC  ARRY  STTC   CD  HYP  ecg_id
413     0.0  0.00  1.0  0.0   0.0   0.0  0.0  0.5     414
482     0.0  0.15  1.0  0.0   0.0   0.0  1.0  0.0     483
529     0.0  0.50  1.0  0.0   0.0   0.0  1.0  0.0     530
539     0.0  1.00  1.0  0.0   0.0   0.0  0.0  1.0     540
704     0.0  0.00  1.0  0.0   0.0   0.0  1.0  0.0     705
...     ...   ...  ...  ...   ...   ...  ...  ...     ...
21630   0.0  0.00  1.0  0.0   0.0   0.0  0.0  0.0   21631
21636   0.0  0.00  1.0  0.0   0.0   0.0  1.0  0.0   21637
21711   0.0  0.50  1.0  1.0   0.0   1.0  1.0  1.0   21712
21734   0.0  0.00  1.0  0.0   0.0   0.0  1.0  0.0   21735
21758   0.0  0.00  1.0  0.0   0.0   0.0  0.0  0.0   21759

[301 rows x 9 columns]

In [23]:
print(see[see['ISC']==1].shape)
see[see['ISC']==1]

(2079, 9)

       NORM    MI  INJ  ISC  ARRY  STTC   CD  HYP  ecg_id
134     0.0  0.00  0.0  1.0   0.0   1.0  0.0  0.0     135
139     0.0  0.00  0.0  1.0   0.0   1.0  0.0  1.0     140
145     0.0  0.35  0.0  1.0   0.0   1.0  0.0  0.5     146
151     0.0  0.50  0.0  1.0   0.0   1.0  0.0  0.0     152
161     0.0  0.50  0.0  1.0   0.0   1.0  1.0  0.5     162
...     ...   ...  ...  ...   ...   ...  ...  ...     ...
21780   0.0  0.00  0.0  1.0   0.0   1.0  1.0  1.0   21781
21791   0.0  0.00  0.0  1.0   0.0   1.0  0.0  1.0   21792
21796   0.0  0.00  0.0  1.0   0.0   1.0  0.0  0.5   21797
21804   0.0  1.00  0.0  1.0   0.0   1.0  1.0  0.0   21805
21827   0.0  0.80  0.0  1.0   0.0   1.0  0.0  0.0   21828

[2079 rows x 9 columns]

In [24]:
print(see[see['ARRY']==1].shape)
see[see['ARRY']==1]

(23, 9)

       NORM    MI  INJ  ISC  ARRY  STTC   CD  HYP  ecg_id
4636    0.0  0.00  0.0  0.0   1.0   0.0  0.0  0.0    4637
5785    0.0  0.00  0.0  0.0   1.0   0.0  0.0  0.0    5786
6344    0.0  0.00  0.0  0.0   1.0   0.0  1.0  0.0    6345
6966    0.0  0.00  0.0  0.0   1.0   0.0  1.0  0.0    6967
7093    0.0  0.00  0.0  0.0   1.0   0.0  1.0  0.0    7094
8871    0.0  0.00  0.0  0.0   1.0   0.0  0.0  0.0    8872
10354   0.0  0.00  0.0  0.0   1.0   0.0  0.0  0.0   10355
12643   0.0  0.00  0.0  0.0   1.0   0.0  0.0  0.0   12644
13431   0.0  1.00  0.0  0.0   1.0   0.0  0.0  0.0   13432
16360   0.0  0.00  0.0  0.0   1.0   0.0  0.0  0.0   16361
16834   0.0  0.00  0.0  0.0   1.0   0.0  0.0  0.0   16835
17407   0.0  0.15  0.0  0.0   1.0   0.0  0.0  0.0   17408
17449   0.0  0.00  0.0  0.0   1.0   1.0  0.0  0.0   17450
17465   0.0  1.00  0.0  0.0   1.0   0.0  1.0  0.0   17466
18782   0.0  1.00  0.0  0.0   1.0   0.0  0.0  0.0   18783
19931   0.0  1.00  0.0  0.0   1.0   0.0  0.0  0.0   19932
20630   0.0  0.00  0.0  0.0   1.0   0.0  0.0  0.0   20631
20663   0.0  0.00  0.0  1.0   1.0   1.0  0.0  0.0   20664
20815   0.0  1.00  0.0  0.0   1.0   0.0  1.0  0.0   20816
20971   0.0  0.00  0.0  1.0   1.0   1.0  0.0  0.0   20972
21322   0.0  0.00  0.0  0.0   1.0   0.0  0.0  0.0   21323
21383   0.0  0.00  0.0  0.0   1.0   0.0  0.0  0.0   21384
21578   0.0  0.00  0.0  1.0   1.0   1.0  0.0  1.0   21579

In [25]:
see.to_csv('labels_ecg_id.csv')

# Clase que indican infartos al miocardio:
* todos los de la clase MI básicamente